.html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.top-bar {
    text-align: right;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 100px
}

.title {
    background-color: aqua;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.saved-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.my-image {
    width: 300px;
    height: 150px;
    background-color: #625d52;
}

.remove-icon:hover {
    cursor: pointer;
}

@media screen and (min-width: 650px) {
    .saved-images {
        max-width: 1000px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}