.body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.top-bar {
    text-align: right;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 100px
}

.main-container {
    margin: 20px 20px 10px;
}

.search-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.image-wrapper {
    width: 100%;
    background-color: #625d52;
    margin-bottom: 40px;
    position: relative;
}
#image {
    width: 100%;
}
#image:hover {
    cursor: pointer;
}

#hd-image {
    width: 100%;
}

.like-icon > img {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -30px;
    right: 50%;
}

#like:hover {
    cursor: pointer;
}

.text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-row > span {
    margin-left: 10px;
}

.buttons {
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        width: 600px;
    }

    .like-icon > img {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        right: -50px;
    }

    .explain-text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .explain-text > span {
        margin-left: 10px;
        line-height: 2.2rem;
    }
}